h1 {
    text-align: left;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 10px;
}

h2 {
    text-align: center;
    background-color:purple;
    color: white;
    font-weight: lighter;
    padding: 5px;
}

h3 {
    text-align: right;
    text-decoration: underline;
    background-color: lightblue;
    font-weight: lighter;
    padding: 2px;
}